body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-right: 10px;
    padding: 10px;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    padding-bottom: 0;
    text-align: center;

    nav {
        display: flex;

        &>* {
            width: 100%;
            line-height: 20px;
            color: #fff;

            &:hover {
                background-color: #f4f4f4;
                color: #333;
            }
        }
    }
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 0;
    padding: auto;
    text-align: justify;
    
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0;
    padding: auto;
    text-align: justify;
    color: white;
}
 
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0;
    padding: auto;
    text-align: justify;
    
}
body, html {
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.fullscreen-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Send the video behind other content */
    transform: translate(-50%, -50%);
}

.card {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    background-color: #3f3f3f;
    padding: 5px 10px;
    & > :first-child {
        margin-top: 0;
    }
}
